html{
  height: 100%;
  background-image: linear-gradient(to right,#d2e5ff,#f6d5ea);
}

body{
  min-height: 100%;
  font-family: 'Itim';
}

#game-container{
  margin: 100px auto 100px auto;
  width: 1000px;
  min-height: 700px;
  background-color: rgba(0,0,0,0.1);
  color: black;
  text-align: center;
}

#game-title{
  font-size: 80px;
  padding-top: 100px;
}

#start-btn{
  margin-top: 100px;
  font-size: 70px;
  font-family: 'Itim';
  padding: 10px 20px;
}

#start-btn:hover{
  background-color: darkgray;
  color: white;
}

#done-btn{
  margin-top: 40px;
  font-size: 50px;
  font-family: 'Itim';
  padding: 10px 20px;
}

#done-btn:hover{
  background-color: darkgray;
  color: white;
}

p{
  color: red;
}